body{
    height: 100%;
    width: 100%;
}

#form{
    display:flow-root;
    background-color: #9453a6;
    height: 70vh;
    font-family: 'Roboto Mono', monospace;
}



.input-group{
    display: flex;
   width: 50vw;
   margin:  5vh 0 0 25vw;
}
#myBtn{
    background-color: #8cbf3f;
    margin:5vh 0 0 45vw ;
}
#myBtn:hover{
background-color: yellow

}
#myMap{
    padding-top: 10vh;
    padding-left: 32vw;
    background-color: #8cbf3f;
    height: 90vh;
    font-family: 'Roboto Mono', monospace;
}
