*,*::before,*::after{
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
:root{
    --hue-neutral:287;
    --hue-wrong:0;
    --hue-correct:113.9;
}
/* use of css classes to be prettier and clear */
body{
    --hue:var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: hsl(var(--hue), 33.3%, 48.8%);
}
body.correct{
    --hue:var(--hue-correct);

}
body.wrong{
    --hue:var(--hue-wrong);

}
/* main cont */
.container{
    width: 600px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px ;
    box-shadow: 0 0 10px 2px;
}
/* grid temp */
.btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0 ;
}
/* buttons style */
.btn{
    --hue:var(--hue-neutral);
    border: 3px solid hsl(var(--hue),100%,10%);
    background-color: hsl(var(--hue),100%,40%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
outline: none;
}
.btn:hover{
    border-color: black;
}
.btn.correct{
--hue:var(--hue-correct);
color: black;
}
.btn.wrong{
--hue:var(--hue-wrong);
color: black;
}
/* bottom btns */
.start-btn , .next-btn{
    font-size: 1.4rem;
    font-weight:bold;
    padding: 10px 20px ;

}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;

}
.hide{
    display: none;
}
